*, *:after, *:before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* @font-face {
    font-family: Hansen-Grotesk;
    src: url('/assets/fonts/HankenGrotesk-VariableFont_wght.ttf');
} */

body{
    background-color: hsl(221, 100%, 96%);
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    
  font-family: "Hanken Grotesk", sans-serif;
}
p{
    font-size: 1.125rem;
}

.container{
    max-width: 375px;
}
.wrapper{
    width: 90%;
}

.result-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    /* background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0)); */
    padding: 1em;
    color: white;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}
h1{
    font-size: 1rem;
    color:  hsl(221, 100%, 96%);
    color: hsl(224, 30%, 27%);
    color: hsl(241, 100%, 89%);
}
.circle{
    background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    width: fit-content;
    margin: 1em auto;
    padding: 1em 2em;
    border-radius: 50%;
    color: hsl(241, 100%, 89%);
    font-weight: 600;
}
.circle h2{
    font-size: 2.75rem;
    font-weight: 800;
    color: white;
}
.result-section p{
    color: hsl(241, 100%, 89%);
}

.summary-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em 0;
}
.summary-section h2{
    color: hsl(224, 30%, 27%);
    font-size: 1.125rem;
}

.stat{
    width: 100%;
    background-color: azure;
    margin: 1em 0;
    padding: 1em;
    border-radius: 1em;
    display: flex;
}
.stat img{
    margin-right: 1em;
}
.stat  > span{
    margin-left: auto;
    color: hsl(224, 30%, 27%);
}
.stat>span>span{
    color: hsla(224, 40%, 67%, 85%)
}

#reaction{
    color: hsl(0, 100%, 67%);
    background-color: hsla(0, 100%, 67%, 5%);
}
#memory{
    color: hsl(39, 100%, 56%);
}
#verbal{
    color: hsl(166, 100%, 37%);
}
#visual{
    color: hsl(234, 85%, 45%);
}

.continue{
    padding: 1em;
    width: 100%;
    border: none;
    border-radius: 1em;
    background-color: hsl(224, 30%, 27%);
    color: white;
    background-color: hsl(0, 100%, 67%);
    background-color: hsl(39, 100%, 56%);
    background-color: hsl(166, 100%, 37%);
    background-color: hsl(234, 85%, 45%);
    background-color: hsl(221, 100%, 96%);
    background-color: hsl(241, 100%, 89%);
    background-color: hsl(224, 30%, 27%);
}